In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_pickle('data_not_clean.pkl')
df

,query,text,label,clean_text,clean_query,embedding_text,embedding_query
0,Когда был спущен на воду первый миноносец «Спо...,Зачислен в списки ВМФ СССР 19 августа 1952 год...,1,Зачислен в списки ВМФ СССР 19 августа 1952 год...,Когда был спущен на воду первый миноносец «Спо...,"[-0.0030975677, -0.018142669, -0.0058722952, 0...","[0.00064380514, 0.0074218363, -0.03353223, -0...."
1,Как долго существовало британское телевизионно...,"Хрустальный лабиринт (""The Crystal Maze"") — бр...",1,"Хрустальный лабиринт (""The Crystal Maze"") — бр...",Как долго существовало британское телевизионно...,"[0.0026477594, -0.026646728, 0.0009579654, -0....","[-0.029795218, -0.01173853, -0.00032150946, -0..."
2,Когда родилась Князева Марина Леонидовна?,Князева Марина Леонидовна (род. 7 мая 1952 г.)...,1,Князева Марина Леонидовна (род. 7 мая 1952 г.)...,Когда родилась Князева Марина Леонидовна?,"[-0.036747612, -0.012604811, -0.0109199695, -0...","[-0.036575466, -0.010551005, -0.04117768, -0.0..."
3,Кто был главным художником мира Зен?,"В книге ""Half-Life 2: Raising the Bar"" художни...",1,"В книге ""Half-Life 2: Raising the Bar"" художни...",Кто был главным художником мира Зен?,"[-0.02514373, -0.023727695, -0.04738828, 0.011...","[-0.022960061, -0.013048667, -0.018877652, -0...."
4,Как звали предполагаемого убийцу Джона Кеннеди?,В 1966 году окружной прокурор Нового Орлеана Д...,1,В 1966 году окружной прокурор Нового Орлеана Д...,Как звали предполагаемого убийцу Джона Кеннеди?,"[0.0074619167, -0.024880972, -0.026498705, 0.0...","[-0.0124044325, -0.0020067864, -0.030558525, 0..."
...,...,...,...,...,...,...,...
47016,Кто убил Зорана Джинджича?,Смерть Зорана Джинджича была констатирована в ...,0,Смерть Зорана Джинджича была констатирована в ...,Кто убил Зорана Джинджича?,"[-0.008258977, 0.0024080626, -0.04842605, -0.0...","[-0.052019194, 0.01754323, -0.05360399, -0.031..."
47017,Кто убил Зорана Джинджича?,"Аресты по делу Джинджича, однако, продолжились...",0,"Аресты по делу Джинджича, однако, продолжились...",Кто убил Зорана Джинджича?,"[0.008173082, 0.052790318, -0.05316838, 0.0171...","[-0.052019194, 0.01754323, -0.05360399, -0.031..."
47018,Кто убил Зорана Джинджича?,Ратомир Живкович обвинил в организации убийств...,0,Ратомир Живкович обвинил в организации убийств...,Кто убил Зорана Джинджича?,"[-0.017322723, 0.013281805, -0.039236594, -0.0...","[-0.052019194, 0.01754323, -0.05360399, -0.031..."
47019,Кто убил Зорана Джинджича?,В 12:25 (по свидетельству Биляны Станков и вод...,0,В 12:25 (по свидетельству Биляны Станков и вод...,Кто убил Зорана Джинджича?,"[-0.024740426, -0.006180703, -0.046707638, 0.0...","[-0.052019194, 0.01754323, -0.05360399, -0.031..."
47020,Кто убил Зорана Джинджича?,В середине февраля 2003 года группа заговорщик...,0,В середине февраля 2003 года группа заговорщик...,Кто убил Зорана Джинджича?,"[-0.013927755, -0.008721694, -0.03604777, 0.01...","[-0.052019194, 0.01754323, -0.05360399, -0.031..."

In [6]:
df.groupby('query')['clean_text'].count()

query
456 — инопланетная раса- это раса из какого фильма?             11
AKB48 выступала в России?                                        1
BBC частная или государственная компания?                        1
Daewoo Lanos собирали на Украине?                                1
Higurashi no Naku Koro ni стала любительской игрой в Японии?    14
                                                                ..
Являются ли «Черепашки-ниндзя» мутантами?                       10
Являются ли Химки частью Москвы?                                11
Являются ли мужчины носителями гена гемофилии?                  10
Яджна применяется при свадебном обряде в Индии?                 10
какой первый симптом атаксии телеангиэктазии?                    1
Name: clean_text, Length: 5935, dtype: int64

In [5]:
df.groupby('clean_query')['clean_text'].count()

clean_query
456 — инопланетная раса- это раса из какого фильма?             11
AKB48 выступала в России?                                        1
BBC частная или государственная компания?                        1
Daewoo Lanos собирали на Украине?                                1
Higurashi no Naku Koro ni стала любительской игрой в Японии?    14
                                                                ..
Являются ли «Черепашки-ниндзя» мутантами?                       10
Являются ли Химки частью Москвы?                                11
Являются ли мужчины носителями гена гемофилии?                  10
Яджна применяется при свадебном обряде в Индии?                 10
какой первый симптом атаксии телеангиэктазии?                    1
Name: clean_text, Length: 5930, dtype: int64

In [7]:
какого их разное количество.. причём clean меньше....?????????

SyntaxError: invalid syntax (3315933472.py, line 1)

In [9]:
короче отталкиваемя от 5930

SyntaxError: invalid syntax (2621808183.py, line 1)

In [11]:
df_filtered = df[['clean_query', 'clean_text']]
grouped = df_filtered.groupby('clean_query')['clean_text'].apply(list).reset_index()
grouped

,clean_query,clean_text
0,456 — инопланетная раса- это раса из какого фи...,[Третий сезон «Торчвуда» представляет собой те...
1,AKB48 выступала в России?,[AKB48 в составе 12 человек посетила Россию в ...
2,BBC частная или государственная компания?,[BBC является одним из двух (наряду с Channel ...
3,Daewoo Lanos собирали на Украине?,[C 1998 года крупноузловую сборку «Ланоса» пер...
4,Higurashi no Naku Koro ni стала любительской и...,"[""Higurashi no Naku Koro ni"" стала одной из тр..."
...,...,...
5925,Являются ли «Черепашки-ниндзя» мутантами?,"[Черепашки-ниндзя (, сокр. , в Европе — , сокр..."
5926,Являются ли Химки частью Москвы?,[Исчерпание свободных и удобных для нового стр...
5927,Являются ли мужчины носителями гена гемофилии?,[Обычно болезнью страдают мужчины (наследовани...
5928,Яджна применяется при свадебном обряде в Индии?,[В современном индуизме яджна продолжает играт...
5929,какой первый симптом атаксии телеангиэктазии?,[Симптомы чаще всего появляются в раннем детст...

In [12]:
train, test_val = train_test_split(grouped, test_size=0.15, random_state=42)

In [14]:
train.shape, test_val.shape

((5040, 2), (890, 2))

In [15]:
train = train.explode('clean_text').reset_index(drop=True)
test_val = test_val.explode('clean_text').reset_index(drop=True)

In [16]:
train

,clean_query,clean_text
0,Откуда пришли древние венгры?,"Венгры, проживающие в современной географическ..."
1,Откуда пришли древние венгры?,"Предки венгров — ""мадьяры"" — угорский народ. Р..."
2,Откуда пришли древние венгры?,Венгерский язык — один из немногих неиндоевроп...
3,Откуда пришли древние венгры?,Происхождение венгров и их первоначальная прар...
4,Откуда пришли древние венгры?,Древние венгры накануне переселения на Дунай п...
...,...,...
39920,Где находится Лахта центр?,Округ получил своё название от исторических ра...
39921,Где находится Лахта центр?,В 1916 году акционерным обществом «Лахта» была...
39922,Где находится Лахта центр?,В центре города находится железнодорожный вокз...
39923,Где находится Лахта центр?,Фундамент многофункционального здания установл...
39924,Где находится Лахта центр?,В 1882 году на Конной Лахте проживало 19 крест...

In [17]:
test_val

,clean_query,clean_text
0,Где родился Митрополит Вениамин?,Митрополит Вениамин (в миру Иван Афанасьевич Ф...
1,Где родился Митрополит Вениамин?,"Митрополит Вениамин (, в миру Василий Костаки;..."
2,Где родился Митрополит Вениамин?,Митрополит Вениамин (в миру Борис Николаевич П...
3,Где родился Митрополит Вениамин?,Вениамин (в миру Василий Антонович Муратовский...
4,Где родился Митрополит Вениамин?,Архиепископ Вениамин (в миру Вениамин Михайлов...
...,...,...
7079,Сколько лет правил Тит Флавий Веспасиан?,"Достигнув совершеннолетия, Веспасиан ещё долго..."
7080,Сколько лет правил Тит Флавий Веспасиан?,В награду Тит Флавий получил по возвращении в ...
7081,Сколько лет правил Тит Флавий Веспасиан?,В 54 году Клавдий умер. Новым императором стал...
7082,Сколько лет правил Тит Флавий Веспасиан?,К 65 году началась отрытая конфронтация между ...
7083,Сколько лет правил Тит Флавий Веспасиан?,В окружении Тита Флавия практически не было пр...